<div class="container">
    <h2 class="table-heading">Users</h2>
    <table class="users-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.profile.address }} - {{ user.profile.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  